<div class="row lessonsPage" >

	<div class="col-md-2 sidebar" style="word-wrap: break-word;">
		<h3 class="lessonsHeader">Lessons</h3>
		<ul class="nav nav-sidebar nav-inverse">
            <li *ngFor="let lesson of lessons" [class.active]="currentLesson === lesson" (click)="lessonSelected(lesson)"><a href="javascript:void(0);">{{lesson}}</a></li>
        </ul>
	</div>
	<div class="col-md-10 lessonMain" style="word-wrap: break-word;">
		<br/>
		<ul class="nav nav-tabs">
	  		<li class="active"><a href="#content" data-toggle="tab" (click)="loadContent()">Content</a></li>
	  		<li><a href="#evaluate" data-toggle="tab" (click)="loadEvaluation()">Evaluation</a></li>
		</ul>

		<div class="tab-content">
			<div id="content" class="tab-pane active" style="margin-bottom: 10px;">	  			
				<div *ngFor="let term of lessonContent.terms" style="border: 1px solid #b3c6ff; border-left: 5px solid gray; border-radius: 0px 10px 0px 10px; margin-bottom: 15px;" class="col-md-11">
				<h3>{{term.term}}</h3> <h5>{{term.definition}}</h5> <p>{{term.description}}</p>
				<br/><br/>
				</div>
				
	  		</div>
	  		<div id="evaluate" class="tab-pane">
	  			<evaluation [questions]="lessonEvaluation"></evaluation>
	  		</div>
		</div>
	</div>
	
</div>


<router-outlet></router-outlet>