<div class="row">

	<div class="col-md-2" style="word-wrap: break-word;">
		<table class="table">
			<tbody>
				<tr *ngFor="let lesson of lessons">		
					<td>			
						<button class="btn btn-default zero-border" (click)="itemSelected(lesson)">{{lesson}}</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="col-md-10" style="word-wrap: break-word;">
		<br/>
		<ul class="nav nav-tabs">
	  		<li class="active" ><a href="#content" data-toggle="tab">Content</a></li>
	  		<li><a href="#evaluate" data-toggle="tab">Evaluate</a></li>
		</ul>

		<div class="tab-content">
			<div id="content" class="tab-pane active">
	  			Content component goes here
	  		</div>
	  		<div id="evaluate" class="tab-pane">
	  			Evaluate component goes here
	  		</div>
		</div>
	</div>
</div>


<router-outlet></router-outlet>