<div *ngIf="showModal">

<div class='modal-uiblocker'></div>

<div id="myModal" class="modal fade in" role="dialog" style="display: block;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{header}}</h4>
      </div>
      <div class="modal-body">
        <p [innerHTML]="content"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hide()">Close</button>
      </div>
    </div>

  </div>
</div>

</div>